<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="Logging Application" />
    <add key="ApplicationDescription" value="This project delegates test and development about logging." />
    <add key="ApplicationVersion" value="v.0.0.1" />
    <add key="ApplicationKey" value="{470AE783-2F55-4A22-A959-0F673F160CB7}" />
    <add key="LoggerLevel" value="0" />
    <add key="LogFilesRootFolder" value="C:\Logs" />
    <add key="LoggerApplicationName" value="Logging Application" />
    <add key="LogDatabaseConnectionString" value="Data Source=.;Initial Catalog=LOGDWH;User ID=sa;Password=1;Persist Security Info=True;" />
    <add key="LogDatabaseProvider" value="sqlserver" /> 
  </appSettings>
</configuration>